html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  transition: 500ms background-color 0s, color 0.2s ease 0s;
  font-family: roboto;
  background: black;
  color: white;
  margin: 50px 20px 50px 20px;
}

.changeColor {
  background: white;
  color: black;
}
.skillz {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
